$systemSizes: (
  small: 1em,
  medium: 2em,
  large: 3em
);
$transformCenter: translate3d(-50%, -50%, 0);

// MIXINS
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// ANIMATIONS
@keyframes orbit {
  0% {
    transform: rotate3d(0, 0, 0, 360deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "avenir next", avenir, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  min-height: 100vh;
}

fieldset {
  border: 0;
  padding: 0 0 1em;
}

label {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  display: block;
}

.header {
  @include clearfix;
  padding: 1em;

  button {
    float: right;
  }
}

.panel {
  background-color: white;
  border-left: 1px solid;
  bottom: 0;
  padding: 2em;
  position: fixed;
  right: 0;
  top: 0;
  width: 33%;
  z-index: 99;
}

.constellations {
  @include clearfix;
  margin: 1%;
  border-top: 1px dashed;
  border-left: 1px dashed;
}

.constellation {
  float: left;
  position: relative;
  width: 20%;
  border-right: 1px dashed;
  border-bottom: 1px dashed;
  padding: 1em;

  &::before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.constellation__meta {
  left: 0;
  bottom: 0;
  padding: 1em;
  top: 0;
  right: 0;
  position: absolute;
  display: none;

  .constellation:hover & {
    display: block;
  }
}

.systems {

}

.system,
.planet {
  border: 2px solid;
  position: absolute;
  display: block;
}

@each $sizeKey, $sizeValue in $systemSizes {
  .#{$sizeKey} {
    border-radius: $sizeValue / 2;
    height: $sizeValue;
    width: $sizeValue;
  }
}

.planets {
  padding: 1em;
  position: relative;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

.planet__orbit {
  animation: orbit 3s linear infinite;
  transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 1px solid #ccc;

  &::before{
    content: "";
    display: block;
    padding-top: 100%;
  }

  .is-paused & {
    animation-play-state: paused;
  }
}

.planet {
  top: 50%;
  left: 0;
  transform: $transformCenter;
  background-color: white;
}
